@font-face {
  font-family: WesternGrit;
  src: url(../assets/WesternGrit-Regular.ttf);
}
.main-div {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  height: 230px;
  z-index: 25;
}
.invisible-card {
  height: 300px;
  width: 200px;
  position: absolute;
}
.cards {
  /* display: grid;
  margin-left: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  grid-gap: 20px 160px; */
  display: flex;
  position: relative;
  place-content: center;
}
@media (min-width: 1028px) and (max-width: 1920px) {
  .main-div {
    height: 330px;
  }
}
@media (orientation: landscape) and (max-width: 1000px) {
  .main-div {
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: 0.5;
  }
}
@media (min-width: 500.5px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: 0.6;
  }
}
@media (min-width: 700.5px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: 0.7;
  }
}
@media (min-width: 850px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: 0.75;
  }
}
@media (min-width: 1000px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: 0.9;
  }
}
@media (min-width: 1000.5px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: 0.95;
  }
  .main-div {
    bottom: 10px;
  }
}
@media (orientation: landscape) and (min-height: 824.5px) and (max-height: 850px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: .8;
  }
}
@media (orientation: landscape) and (min-height: 760.5px) and (max-height: 824px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: .7;
    margin-top: 50px;
  }
}
@media (orientation: landscape) and (min-height: 680px) and (max-height: 760px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: .6;
    margin-top: 100px;
  }
}
@media (orientation: landscape) and (min-height: 240px) and (max-height: 450px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: .3;
    margin-top: 60px;
  }
  section span {
    margin-bottom: 340px;
  }
}
@media (min-width: 350.5px) and (max-width: 450px) and (min-height: 330px) and (max-height: 730px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    scale: .4;
    margin-top: 30px;
  }
}
/* @media (orientation: landscape) and (min-width: 600px) and (max-width: 1000px) {
  .card0,
  .card1,
  .card2,
  .card3 {
    margin-top: 50px;
    scale: .4;
  }
} */
@media (min-height: 0px) and (max-height: 820px) {
  .main-div {
    bottom: 30px;
  }
}
.card0,
.card1,
.card2,
.card3 {
  height: 300px;
  width: 200px;
  background-color: #cdd8e7;
  filter: brightness(80%);
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: WesternGrit;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  user-select: none;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
}
.card0::after,
.card0::before,
.card1::after,
.card1::before,
.card2::before,
.card3::before,
.card2::after,
.card3::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 600px;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #f0f0f0 100%);
  transition: opacity 0.3s ease, transform 0.4s ease-out;
  border-radius: 150px;
  z-index: -1;
  opacity: 0;
}
.card0::after,
.card1::after,
.card2::after,
.card3::after {
  transform: translate(-400px, 600px);
}
.card0::before,
.card1::before,
.card2::before,
.card3::before {
  transform: translate(400px, -600px);
}

.card0:hover::after,
.card1:hover::after,
.card2:hover::after,
.card3:hover::after,
.card0:hover::before,
.card1:hover::before,
.card2:hover::before,
.card3:hover::before {
  opacity: 0.7;
  transform: translate(0);
}
.get-card-0 {
  transform: rotate(5deg);
}
.get-card-1 {
  transform: rotate(2deg);
}
.get-card-2 {
  transform: rotate(-5deg);
}
.get-card-3 {
  transform: rotate(-3deg);
}
.see-cards0 {
  animation: cards-animation1 0.3s ease-in-out forwards;
}
.see-cards1 {
  animation: cards-animation2 0.3s ease-in-out forwards;
}
.see-cards2 {
  animation: cards-animation3 0.3s ease-in-out forwards;
}
.see-cards3 {
  animation: cards-animation4 0.3s ease-in-out forwards;
}
.card0-animation {
  animation: moveBack1 0.3s ease-in-out;
  transform: rotate(5deg);
}
.card1-animation {
  animation: moveBack2 0.3s ease-in-out;
  transform: rotate(2deg);
}
.card2-animation {
  animation: moveBack3 0.3s ease-in-out;
  transform: rotate(-5deg);
}
.card3-animation {
  animation: moveBack4 0.3s ease-in-out;
  transform: rotate(-3deg);
}
.card0JS {
  animation: moveBack1 0.3s ease-in-out;
  animation: on-render 1s ease-in-out forwards;
  animation-delay: 0ms;
  transform: rotate(5deg);
  opacity: 0;
}
.card1JS {
  /* animation: moveBack2 0.3s ease-in-out; */
  animation: on-render 1s ease-in-out forwards;
  animation-delay: 200ms;

  opacity: 0;
  transform: rotate(2deg);
}
.card2JS {
  /* animation: moveBack3 0.3s ease-in-out; */
  animation: on-render 1s ease-in-out forwards;
  animation-delay: 400ms;

  opacity: 0;
  transform: rotate(-5deg);
}
.card3JS {
  /* animation: moveBack4 0.3s ease-in-out; */
  animation: on-render 1s ease-in-out forwards;
  animation-delay: 600ms;

  opacity: 0;
  transform: rotate(-3deg);
}
.skip-card-animation {
  animation-delay: -1s;
}
@keyframes on-render {
  0% {
    transform: translate(0px, -1500px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveBack1 {
  0% {
    transform: translate(250px, -5px) rotate(20deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes moveBack2 {
  0% {
    transform: translate(-250px, -5px) rotate(-20deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes moveBack3 {
  0% {
    transform: translate(80px, -45px) rotate(8deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes moveBack4 {
  0% {
    transform: translate(-80px, -45px) rotate(-8deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
@keyframes cards-animation1 {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: translate(250px, -5px) rotate(20deg);
  }
}
@keyframes cards-animation2 {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: translate(-250px, -5px) rotate(-20deg);
  }
}
@keyframes cards-animation3 {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: translate(80px, -50px) rotate(8deg);
  }
}
@keyframes cards-animation4 {
  0% {
    transform: rotate(-3deg);
  }
  100% {
    transform: translate(-80px, -50px) rotate(-8deg);
  }
}
.card-value-suit {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 10px;
  justify-content: center;
  align-items: center;
  color: black;
}
.number {
  font-size: 2.2rem;
}
.card-icon {
  height: 1.5rem;
}
.card-image {
  height: 9rem;
}
.card-value-suit-inverted {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(180deg);
  position: absolute;
  bottom: 5px;
  right: 15px;
}
[data-cardHover] {
}
